
<%- include('../component/header') %>

<div style="width: 50%; margin: auto;">
  <section>
    <h2>500 | Error Server </h2> <br>
    <p> <%= err.code %> </p>
  </section>
</div>
<%- include('../component/footer') %>